*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
  
    /* background-size: cover; */
}
body{
    /* background-image: url(Resource/images\ \(1\).png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.center{
    text-align: center;
}
.border{
    border: 1px solid ;
}
.box{
    box-shadow: 2px 1px 2px 1px silver;
}
.redus{
    border-radius: 8px;
}
.container{
margin-left: 10%;
margin-right: 10%;
}
.ul{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 2s ease-in;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 1px black;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 2px silver;
    background-color: white;
    border-bottom: 1px solid #f78805;
}
.ul li:hover {
    border-bottom: 1px solid silver;
    color: crimson;
}
.ul li{
    cursor: pointer;
    display: inline;
    margin-left: 7px;
}
.flex{
    display: flex;
}
.ul1 li{
margin-top: 10px;
}
.btna{
  text-decoration: none;
  padding: 7px;
  background: -webkit-linear-gradient(left, #d9f304,#626e1c,#36360c , #a8b122); 
   color: white;
  border-radius: 10px;
}
.btn1{
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 50%;
    transition: all 0.7s ease-in;
}
.btn1:hover{
background-color: white;
color: black;
}
.img-app{
    position: relative;
}
.img{
    width: 70%;
    border-radius: 8px;
position: absolute;
box-shadow: 2px 1px 2px 1px silver,-1px -2px 2px 1px black;
left: -140px;
height: 330px;
}
.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}
.w-35{
    width: 35%;

}
.iii{
    background-color: cornsilk;
    padding: 10px;
    border-radius: 50%;
}
/* :start footer  */


.site-footer
{
  background-color:#eff0f5;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#2f2f30
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* :end footer  */

/* start cart  */


/* end cart  */
@media only screen and (max-width: 600px) {
    .img,.imgg {
        display: none;
    }
  }